/.venv/

# Ignorar dependencias de Node en la carpeta Electron
/electron-app/node_modules/

/electron-app/release-build/

*.tar.gz

/electron-app/python/install_logs.txt
/electron-app/python/devices_report.xlsx